{% capture mainContent %}
<h1 class="head-alt-md md:head-alt-xl" style="padding-bottom: 1em">{{ include.title }}</h1>

<div class="row">
<p><a href="/jaderna-energie/" style="text-decoration: underline;">Jaderná energie</a> má v energetickém mixu České republiky své pevné místo. Souvisejí technické know-how i věda a výzkum jsou v ČR <a href="/historie/" style="text-decoration: underline;">na velmi vysoké úrovni</a>. Bylo by proto neuvážené tento potenciál nevyužít při přechodu k čisté energetice. Jako Piráti nabízíme <a href="/nase-vize/" style="text-decoration: underline;">jasnou vizi</a>, jak jaderný potenciál v Česku využít.</p><br>
<p>V současné době je v ČR připravován projekt výstavby nového bloku v elektrárně Dukovany. Avšak Piráti považují řešení navrhované Vládou ČR za nedomyšlené. Proto <a href="/projekt-dukovany-ii/" style="text-decoration: underline;">požadujeme</a>, aby se tento projekt pohyboval ve zcela jasných mantinelech.</p>
</div>
{% endcapture %}

{% capture subContent %}
  {% if include.cta %}

  	{% include buttons/icon.html href="/nase-vize/" icon="ico--chevron-right" class="btn--hoveractive btn--fullwidth md:btn--autowidth text-lg" cta="Naše vize" %}
    {% include buttons/icon.html href="/projekt-dukovany-ii/" icon="ico--chevron-right" class="btn--hoveractive btn--fullwidth md:btn--autowidth text-lg" cta="Projekt Dukovany II" %}
  {% endif %}
{% endcapture %}

{% include hero/advanced.html mainContent=mainContent subContent=subContent img=include.img imgClass="h-32 lg:h-80 lg:m-auto hidden md:block" %}
