---
layout: default
---

Jaderná energie má v energetickém mixu České republiky své pevné místo. Souvisejí technické know-how i věda a výzkum jsou v ČR na velmi vysoké úrovni. Bylo by proto neuvážené tento potenciál nevyužít při přechodu k čisté energetice. Jako Piráti nabízíme jasnou vizi, jak jaderný potenciál v Česku využít. 
V současné době je v ČR připravován projekt výstavby nového bloku v elektrárně Dukovany. Avšak Piráti považují řešení navrhované Vládou ČR za nedomyšlené. Proto požadujeme, aby se tento projekt pohyboval ve zcela jasných mantinelech.


{% include homepage/banner.html href="/jaderna-energie/" cta="Jaderná enerige v ČR a ve světě" title="Jádro Piráti" img="banner-kraj.png" %}

<div class="container container--default lg:pb-24">
  {% include homepage/news.html %}
  {% include homepage/calendar.html %}
  {% include homepage/social.html %}
</div>
