---
layout: default
---

{% include homepage/banner.html href="/jaderna-energie/" cta="Jaderná enerige v ČR a ve světě" title="Pirátská jaderná energie" img="banner-kraj.png" %}
<!--
<div class="container container--default lg:pb-24">


  <section> 
  <div class="article-card-list grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">
  
<article itemtype="http://schema.org/BlogPosting" class="card card--hoveractive article-card " itemscope="">
  <link itemprop="mainEntityOfPage" href="/jaderna-energie/">
  <div class="article-card-cover">
    <a href="/jaderna-energie/" itemprop="image" itemtype="http://schema.org/ImageObject" itemscope="">
      <img src="/assets/img/miscellaneous/shutterstock_1897169671.jpg" alt="Jaderná energie v ČR a ve světě">
    </a>

  </div>
  <div class="card__body article-card__body">
    <a href="/jaderna-energie/" ><h1 class="card-headline mb-4 ">Jaderná energie v ČR a ve světě</h1></a>
    <p class="card-body-text flex-grow ">...</p>    
  </div>
</article>

<article itemtype="http://schema.org/BlogPosting" class="card card--hoveractive article-card " itemscope="">
  <link itemprop="mainEntityOfPage" href="/jaderna-energie/">
  <div class="article-card-cover">
    <a href="/historie/" itemprop="image" itemtype="http://schema.org/ImageObject" itemscope="">
      <img src="/assets/img/miscellaneous/shutterstock_1897169671.jpg" alt="Historie">
    </a>

  </div>
  <div class="card__body article-card__body">
    <a href="/historie/" ><h1 class="card-headline mb-4 ">Historie</h1></a>
    <p class="card-body-text flex-grow ">...</p>    
  </div>
</article>


<article itemtype="http://schema.org/BlogPosting" class="card card--hoveractive article-card " itemscope="">
  <link itemprop="mainEntityOfPage" href="/jaderna-energie/">
  <div class="article-card-cover">
    <a href="/nase-vize/" itemprop="image" itemtype="http://schema.org/ImageObject" itemscope="">
      <img src="/assets/img/miscellaneous/shutterstock_1844731684.jpg" alt="Naše vize">
    </a>

  </div>
  <div class="card__body article-card__body">
    <a href="/nase-vize/" ><h1 class="card-headline mb-4 ">Naše vize</h1></a>
    <p class="card-body-text flex-grow ">...</p>    
  </div>
</article>


<article itemtype="http://schema.org/BlogPosting" class="card card--hoveractive article-card " itemscope="">
  <link itemprop="mainEntityOfPage" href="/jaderna-energie/">
  <div class="article-card-cover">
    <a href="/projekt-dukovany-ii/" itemprop="image" itemtype="http://schema.org/ImageObject" itemscope="">
      <img src="/assets/img/miscellaneous/shutterstock_1311485438.jpg" alt="Projekt Dukovany II">
    </a>

  </div>
  <div class="card__body article-card__body">
    <a href="/projekt-dukovany-ii/" ><h1 class="card-headline mb-4 ">Projekt Dukovany II</h1></a>
    <p class="card-body-text flex-grow ">...</p>    
  </div>
</article>

</div>
</section>

</div>
-->
<div class="container container--default lg:pb-24">
  {% include homepage/news.html %}


  {% include homepage/calendar.html %}
  {% include homepage/social.html %}
</div>
